@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&display=swap');

:root {

  --color1: #00080e;
  --color2: #21434f;
  --color3: #377c67;
  --color4: #b7d7b2;
  --color5: #efefdf;
  --color-low: #bb2124;
  --color-success: #22bb33;
  --color-warging: #5bc0de;
  --color-info: #aaaaaa;
  --primary: #007bff;
  --info: #17a2b8;
  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;
  --dark: #343a40;
  --secondary: #6c757d;
  --light: #f8f9fa;
  --white: #ffffff;
}


* {
  margin: 0%;
  font-family: 'Heebo', sans-serif;
}

/* navigator */
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "sidebar main";
  margin: 0;
  padding: 0;

}

main {
  background: white;
  grid-area: main;
  border-radius: var(--main-radius);
  margin: 30px 0 0 0;
  padding: 10px 60px;
  text-align: justify;
}

#sidebar {
  background: var(--color5);
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding: 150px 30px;
}


.info {
  text-align: right;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin-top: 30px;
  text-transform: uppercase;
}

.url {
  display: block;
  padding: 10px 0px;
  margin: 0px 35px;
  text-decoration: none;
}

a {
  color: var(--color2);
  font-weight: bold;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "main";
  }
}

h1,
.sub {
  text-align: center;
}

table,
th,
td {
  border: 1px solid var(--color2);
  border-collapse: collapse;
}

td {
  padding: 1%;
  background-color: white;
}

tr {
  background-color: var(--color3);
}

th {
  text-align: center;
  background-color: var(--color2);
  color: white;
}

.label {
  text-align: center;
}

table {
  margin: 5px 50px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.images-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.logo-text {
  text-align: center;
  text-transform: uppercase;
}

.stiky {
  position: fixed;
  float: left;
  height: 100vh;
}

.name {
  letter-spacing: 0.2rem;
}

.accentuate {
  font-weight: bold;
  font-size: xx-large;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}